
{% extends 'base.html'%}
{% block title %}Batch{% endblock title %}
{% block batch %}active{% endblock batch %}


{% block body %}



<div class="bg-light">
  <main>
      <!-- Ui cards -->
      <section id="cards">
          <div class="container py-2">
              <div class="row pb-4">
                  <div class="col-12 text-center">
                      <div class="display-3" style="color: brown;">Batch Time</div>
                  </div>
              </div>
              <!-- cards -->
              <div class="row">
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center" >Batch 1</h5>
                                  
                                  <div class="small text-center">
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star-half-alt text-warning"></i>
                                      <i class="fas fa-star text-light"></i>
                                  </div>
                                  <p class="card-text text-center">Batch Time:- 8:00AM To 9:00AM</p>
                                  <a href="/contact" class="text-center hovers">Register Now</a>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">Batch 2</h5>
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                <p class="card-text text-center">Batch Time:- 9:00AM To 10:00AM</p>
                                <a href="/contact" class="text-center hovers">Register Now</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">Batch 3</h5>
                                  
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                <p class="card-text text-center">Batch Time:- 6:00PM To 7:00PM</p>
                                <a href="/contact" class="text-center hovers">Register Now</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">Batch 4</h5>
                                  
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                <p class="card-text text-center">Batch Time:- 7:00PM To 10:00PM</p>
                                <a href="/contact" class="text-center hovers">Register Now</a>
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  
              </div>
          </div>
          <!-- /cards -->
      </section>
      <!-- /Ui cards -->
  </main>

</div>

{% endblock body %}