
{% extends 'base.html'%}
{% block title %}contact{% endblock title %}
{% block contact %}active{% endblock contact %}active

{% block body %}

        <div class="container my-6">
            <form method="post" action="/contact" id="cont">
              {% csrf_token %}
                <h3 class="text-center " style="margin-top: 30px;">Contact Extreme Spoken English Class</h3>
                <div class="mb-3">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" >
                  
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                    
                  </div>
                  <div class="form-floating">
                      
                    <textarea class="form-control" name="content" id="content" style="height: 150px"></textarea>
                    <label for="floatingTextarea2">How May We Help You?</label>
                  </div>
                
                <button type="submit" class="btn btn-outline-warning my-3" style="margin-left:40%;">Submit</button>
              </form>
            
        </div>
       

{% endblock body %}