{% extends 'base.html'%}
{% block title %}Home {% endblock title %}
{% block office %}active{% endblock office %}


{% block body %}





<div class="bg-light">
  <main>
      <!-- Ui cards -->
      <section id="cards">
          <div class="container py-2">
              <div class="row pb-4">
                  <div class="col-12 text-center">
                      <div class="display-3">Our Office</div>
                  </div>
              </div>
              <!-- cards -->
              <div class="row">
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">OFFICE 1</h5>
                                  
                                  <div class="small text-center">
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star text-warning"></i>
                                      <i class="fas fa-star-half-alt text-warning"></i>
                                      <i class="fas fa-star text-light"></i>
                                  </div>
                                  <p class="small text-muted mb-0"><mark>Address:</mark>  423601, Opp. S. T. Stand, Shivalay, 2nd Floor, Kopargaon, Ahmed Nagar, Kopargaon, Maharashtra 423601</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">OFFICE 2</h5>
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                  <p class="small text-muted mb-0"><mark>Address:</mark> 423601, Opp. S. T. Stand, Shivalay, 2nd Floor, Kopargaon, Ahmed Nagar, Kopargaon, Maharashtra 423601</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">OFFICE 3</h5>
                                  
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                  <p class="small text-muted mb-0"><mark>Address:</mark>423601, Opp. S. T. Stand, Shivalay, 2nd Floor, Kopargaon, 
                                    Ahmed Nagar, Kopargaon, Maharashtra 423601</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-4 pt-5">
                      <div class="card shadow-sm border-0">
                          <div class="card-body">
                              <div class="user-content">
                                  <h5 class="text-capitalize user-name text-center">OFFICE 4</h5>
                                  
                                  <div class="small text-center">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="fas fa-star text-light"></i>
                                </div>
                                  <p class="small text-muted mb-0"><mark>Address:</mark>423601, Opp. S. T. Stand, Shivalay, 2nd Floor, Kopargaon, Ahmed Nagar, Kopargaon, Maharashtra 423601</p>
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  
              </div>
          </div>
          <!-- /cards -->
      </section>
      <!-- /Ui cards -->
  </main>

</div>
{% endblock body %}